<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca - Devoluciones</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "bibliotecas/estilos" %}.css">
</head>
<body>
    <h1>Devoluciones</h1>
    <i>Ingrese socio y el identificador de la copia a devolver.</i>
    <br>
    <form action="/biblio/devoluciones/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="submit">
    </form>
</body>
</html>
