<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca</title>
</head>
<body>
    <h1>Biblioteca</h1>
    <ul>
        <li><a href="/biblio/prestamos/">Prestamos</a></li>
        <li><a href="/biblio/devoluciones/">Devoluciones</a></li>
        <li><a href="/biblio/socios/">Socios</a></li>
        <li><a href="/biblio/libros/">Libros</a></li>
        <li><a href="/biblio/copias/">Copias</a></li>
        <li><a href="/biblio/morosos/">Morosos</a></li>

        <li><a href="/biblio/morosos/">Lista de prestamos</a></li>
        <li><a href="/biblio/morosos/">Lista de morosos</a></li>
    </ul>

</body>
</html>