<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "bibliotecas/estilos" %}.css">
</head>
<body>
    <h1>Biblioteca</h1>
    <ul>
        <li><a href="/biblio/prestamo/">Ingreso de prestamos</a></li>
        <li><a href="/biblio/devoluciones/">Ingreso de devoluciones</a></li>
        <li><a href="/biblio/socios/">Socios</a></li>
        <li><a href="/biblio/libros/">Libros</a></li>
        <li><a href="/biblio/copias/">Copias</a></li>
        <li><a href="/biblio/morosos/">Morosos</a></li>
        <li><a href="/biblio/prestamo_fecha/">Listado de prestamos</a></li>
        <li><a href="/biblio/morosos_fecha/">Listado de futuros morosos</a></li>
    </ul>
</body>
</html>
