<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca - Socio</title>
</head>
<body>
    {% if socio %}
        <h1>Datos del socio</h1>
        <table align="left">
          <tr>
            <th>Id</th>
            <th>{{ socio.id }}</th>
          </tr>
            <tr>
              <th>Nombre</th>
              <th>{{ socio.nombre }}</th>
            </tr>
            <tr>
              <th>Email</th>
              <th>{{ socio.email }}</th>
            </tr>
            <tr>
              <th>Fecha de nacimiento</th>
              <th>{{ socio.fecha_nacimiento }}</th>
            </tr>
            <tr>
              <th>Estado</th>
              <th>{{ socio.estado }}</th>
            </tr>
        </table>
    {% endif %}
</body>
</html>
